@model AppLabs.DTOs.Level5.CipherResponse

@{
    ViewBag.Title = "CipherOutput";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Caesar's Cipher Encryption</h2>

<div class="row">
    <div class="col-sm-12">
        <p>
            <h3>@Model.Output</h3>
        </p>
    </div>
</div>