
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Intermediate Exercises</h2>


<h4>Level Three: Numbers</h4>

<ul>
    <li>@Html.ActionLink("Greatest Common Denominator", "CommonDenominatorInput", "Moderate")</li>
</ul>

<h4>Level Three: Strings</h4>

<ul>
    <li>@Html.ActionLink("Count Words", "WordCounterInput", "Moderate")</li>
</ul>

<h4>Level Four: Numbers</h4>
<ul>
   
</ul>
<h4>Level Four: Strings</h4>

<ul>
   
</ul>

<h4>Level Five: Numbers</h4>
<ul>
    
</ul>
<h4>Level Five: Strings</h4>

<ul>
    
</ul>
