@model AppLabs.DTOs.Level4.RomanNumeralResponse

@{
    ViewBag.Title = "RomanNumeralOutput";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roman Numerals</h2>

<div class="row">
    <div class="col-sm-12">
        <p>
            <h3>@Model.RomanNumeral</h3>
        </p>
    </div>
</div>