@model AppLabs.DTOs.Level3.WordCounterResponse

@{
    ViewBag.Title = "WordCounterOutput";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Number of Words:</h2>

<div class="row">
    <div class="col-sm-12">
        <p>
            <h3>@Model.Counter</h3>
        </p>
    </div>
</div>