@model HRMetrics.Models.TurnoverRequest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TotalTurnoverForm</title>
</head>
<body>
    <div>
                        @using (Html.BeginForm())
                        
                        {
                            <p>First, determine the time period for which you want to measure turnover. Next, find the starting and ending headcounts as well as all terminations that occurred within the time period.</p>
                            <p>Starting Headcount: @Html.EditorFor(m => m.StartHeadcount)</p>
                            <p>Ending Headcount: @Html.EditorFor(m => m.EndHeadcount)</p>
                            <p>Total Terminations: @Html.EditorFor(m => m.TotalTerminations)</p>
                            
                            <input type="Submit" value="Calculate" />
                            
                        }
    </div>
</body>
</html>
