@model List<FamileLMS.Models.Views.StudentAndParentGrade>
@{
    ViewBag.Title = "Grades";
}

<h2>Grades</h2>@Html.ActionLink("Back","Index","Student")

<div class="row">
    <div class="col-sm-12">
        <ul class="list-inline">
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-2 assignment-box">
            <p><strong>@item.EntryName</strong></p>
            <p>
                @item.PercentGrade % -- @item.PercentGrade </p>
        </div>
    }
</div>
