@model AppLabs.DTOs.Level1.StringReverseResponse


@{
    ViewBag.Title = "StringReverserOutput";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reversed Word</h2>

<div class="row">
    <div class="col-sm-12">
        <p>
            <h3>@Model.ReversedString</h3>
        </p>
    </div>
</div>